numpy
pandas
scikit-learn
matplotlib
seaborn
scikit-fuzzy
sympy
torch
joblib
jinja2
pyparsing
python-dateutil
pyyaml
pillow
filelock
fonttools
packaging
threadpoolctl
cycler
kiwisolver
mpmath
networkx
six
setuptools
typing-extensions
tzdata
